@import "~ng-pick-datetime/assets/style/picker.min.css";

img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

body {
  padding: 0;
  margin: 0;
  background: #f0f0f0;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }


  @media (min-width: 768px) {
    max-width: 720px;
  }


  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

ul{
  padding: 0;
  margin: 0;
  li{
    list-style: none;
  }
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
