$fontHind: 'Hind', sans-serif;
$fontTeko: 'Teko', sans-serif;

//$shadow:0px 0px 2px 0px rgba(0, 0, 0, 0.75);
$shadow:
    -2px -2px rgba(0, 0, 0, 0.02),
    -1px -1px rgba(0, 0, 0, 0.01),
    0px 0px rgba(0, 0, 0, 0.01),
    1px 1px rgba(0, 0, 0, 0.01),
    2px 2px rgba(0, 0, 0, 0.02),
    3px 3px rgba(0, 0, 0, 0.03),
    4px 4px rgba(0, 0, 0, 0.04),
    5px 5px rgba(0, 0, 0, 0.05),
    6px 6px rgba(0, 0, 0, 0.06);

$superblack: #0b0b0b;
$black: #292929;
$blue: #00caec;
$white: #fbfbfb;
$grey: #bababa;
$darkgrey:#4c4c4d;
$gold: #f2ae32;
$red:#dc3545
