$fontHind: 'Hind', sans-serif;
$fontTeko: 'Teko', sans-serif;

$shadow:0px 0px 2px 0px rgba(0, 0, 0, 0.75);

$superblack: #0b0b0b;
$black: #292929;
$blue: #00caec;
$white: #f0f0f0;
$grey: #a0a0a2;
$darkgrey:#4c4c4d;
$copper: #ba8145;
$gold: #d0bf83;
$bronze:#a24947;
