<div class="header">
  <div class="container">
    <div class="header-box">
      <div class="logo">
        <h2><a [routerLink]="['/']">LOGO</a></h2>
      </div>
      <div *ngIf="storageService.userLogged">
        <div>
          <a [routerLink]="['/projects']">Projects</a>
          <a [routerLink]="['/messages']">Messages</a>
          <a [routerLink]="['/statistics']">Statistics</a>
        </div>
        <button (click)="storageService.logout()">Logout</button>
      </div>
    </div>
  </div>
</div>
