<div class="header">
  <div class="container">
    <div class="header-box">
      <div class="logo">
       <a [routerLink]="['/']">TimerApp</a>
      </div>
      <div *ngIf="storageService.userLogged" class="menu">
        <div class="menu-links">
          <a [routerLink]="['/projects']">Projects</a>
          <a [routerLink]="['/messages']">Messages</a>
          <a [routerLink]="['/statistics']">Statistics</a>
        </div>
        <div class="user-settings">
          <a [routerLink]="['/settings']" class="user-avatar">
            <img [src]="useravatar" alt="">
          </a>
          <button  class="btn" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>
