:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: block;
  background: grey;
}

.header-box {
  display: flex;
  align-items: center;

  .logo {
    margin-right: 16px;
  }
}
