<div class="under-header">
  <div class="container">
    <div class="add-project-header">
      <div>
        <button class="btn btn__link btn__link--blue" [ngClass]="{ 'btn__link--blue__active':options.type ==='all'}" (click)="changeType('all')">All projects</button>
        <button class="btn btn__link btn__link--blue" [ngClass]="{ 'btn__link--blue__active':options.type ==='owner'}"  (click)="changeType('owner')">My projects</button>
      </div>
      <div>
        <app-drop>
          <div class="target">
            <button class="btn btn--outline-gold btn-add-project">Add Project</button>
          </div>
          <div class="content">
            <form [formGroup]="form" class="add-project-form">
              <div class="add-wrapper">
                <input class="input" type="text" placeholder="Name of project" formControlName="name">
                <div class="add-btn">
                  <button class="btn" (click)="createProject()">Create project</button>
                </div>
              </div>
            </form>
          </div>
        </app-drop>
      </div>
    </div>
  </div>
</div>
<div class="projects-box">
  <ul *ngIf="projects.length; else emptyprojects"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="getProjects()">
    <li *ngFor="let project of projects">
      <a [routerLink]="'/projects/'+project._id" class="white-back">
        <div class="owner"
             *ngIf="project.owner._id === storageService.user._id">
          <svg-icon src="assets/img/crown.svg" [svgStyle]="{ 'width.px':'20', 'fill':'#f2ae32' }"></svg-icon>
        </div>
        <h3>{{project.name}}</h3>
        <span>For {{project.owner.nickname}}</span>
      </a>
    </li>
  </ul>
  <ng-template #emptyprojects>
    <div *ngIf="!loading" class="projects-empty white-back">
      <h3>Create your first project!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus alias aliquam architecto assumenda
        atque
        aut, corporis doloribus explicabo illo laborum libero nisi quo tempora tempore ut voluptatum! Esse, hic?</p>
    </div>
  </ng-template>
  <app-loader *ngIf="loading"></app-loader>
</div>
