@import "~src/assets/scss/variables";

:host {
  padding-top: 16px;
  display: block;
}

.add-project-header {
  display: flex;
  min-height: 50px;
  align-items: center;
  justify-content: space-between;
  position: relative;

  h3 {
    display: flex;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding-top: 0;
    color: $white;
    transition: 300ms;
    opacity: 1;
    justify-content: center;
    letter-spacing: 2px;
    height: 100%;
    min-height: 60px;
    align-items: center;
    z-index: 3;

    &:hover {
      color: $black;
      background: $gold;
    }
  }


  .add-wrapper {
    display: flex;
    opacity: 0;
    height: 0;
    transition: 300ms;
    width: 240px;
    flex-flow: column;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;

    .add-btn {
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;
      width: 100%;

    }

    input {
      font-size: 20px;
    }

  }


}

.projects-box {
  margin-top: 42px;

  ul {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;

    li {
      width: calc(50% - 10px);

      a {
        margin: 10px 0;
        padding: 16px;
        min-height: 108px;
        display: flex;
        justify-content: space-evenly;
        background: white;
        //border-radius: 2px;
        //box-shadow: $shadow;
        transition: 300ms;
        text-decoration: none;
        flex-flow: column;
        color: #131313;
        position: relative;

        .owner {
          position: absolute;
          right: 16px;
          top: 16px;

          svg {
            width: 20px;
            height: 20px;
            fill: $gold
          }
        }

        &:hover {
          h3 {
            color: $blue
          }
        }

        h3 {
          font-size: 26px;
          margin: 0;
          font-family: $fontHind;
          margin-bottom: 8px;
          padding-right: 36px;
          word-break: break-word;
          line-height: 36px;
          transition: 300ms;
        }
      }
    }
  }
}

.add-project-form {
  background: $gold;
  padding: 16px;
}
