.add-project-box {
  display: flex;
  background: grey;
  min-height: 60px;
  position: relative;
align-items: center;
  justify-content: center;
  flex-flow: column;
  span {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 47px;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    color: #131313;
    transition: 300ms;
    align-items: center;
    opacity: 1;
    justify-content: center;
  }

  &.add-project-box--open {
    span {
      height: 0;
      opacity: 0;
    }

    .add-wrapper {
      height: 160px;
      opacity: 1;
    }
  }

  .add-wrapper {
    display: flex;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: 300ms;
    width: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0;
.add-btn{
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  button{
    width: 45%;
  }
}
    input {
      padding: 8px;
      font-size: 16px;
      margin-bottom: 16px;
      width: 200px;
    }

    button {
      background: white;
      font-size: 16px;
      border-radius: 4px;
      padding: 8px 16px;
      border: 0;
    }
  }
}

.projects-box {


  ul {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;

    li {
      width: calc(50% - 30px);

      a {
        margin: 8px 0;
        padding: 16px;
        min-height: 80px;
        display: flex;
        justify-content: center;
        background: white;
        border-radius: 4px;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
        transition: 300ms;
        text-decoration: none;
        flex-flow: column;
        color: #131313;
        &.owner{
          border:1px solid #ffd700
        }
        &:hover {
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
        }

        h3 {
          font-size: 26px;
          margin: 0;
          margin-bottom: 8px;
        }
      }
    }
  }
}
