<div class="users-search">
  <form [formGroup]="form">
    <input type="text" placeholder="search" formControlName="search">
  </form>
</div>
<div class="list">
  <ul class="rooms-list" *ngIf="searchIsEmpty; else searchList">
    <li *ngFor="let room of rooms" (click)="selectRoom(room)"
        [class.selected]="room._id===currentRoom?._id" [class.newmess]="room.newMess">
      <div class="room-avatar">
        <span class="avatar"></span>
      </div>
      <span class="room-name">{{getRoomName(room)}}</span>
    </li>
  </ul>
  <ng-template #searchList>
    <ul class="search-list" *ngIf="!searchIsEmpty">
      <li *ngFor="let user of usersSearch" (click)="selectUser(user)">
        <div class="room-avatar">
          <span class="avatar"></span>
        </div>
        <span class="room-name">
          {{user.nickname}}
          <br>
          {{user.email}}
        </span>
      </li>
    </ul>
  </ng-template>
</div>
