:host{
  display: block;
  width: 25%;
  border-right: 1px solid black;
  height: calc(100vh - 76px);
}
.users-search{
  padding: 16px;
  display: flex;
  border-bottom: 1px solid grey;
  input{
    width: 100%;
    padding: 4px;
  }
}
.search-list{
  background: silver;
}
.rooms-list,.search-list{
  li{
    height: 40px;
    display: flex;
    padding: 8px;
    cursor: pointer;
    &.selected{
      background: slategray;
      &:hover{
        background: slategray;
      }
    }
    &:hover{
      background: lightgray;
    }
    .room-avatar{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
      .avatar{
        background: grey;
        width: 40px;
        border-radius: 100%;
        height: 40px;
      }
    }
  }
}
