@import "~src/assets/scss/variables";

.btn {
  border: 0;
  font-family: $fontTeko;
  font-size: 20px;
  padding: 4px 12px;
  padding-top: 6px;
  background: $darkgrey;
  cursor: pointer;
  color: $white;
  transition: color 300ms, background 300ms;
  border-radius: 2px;
  outline: none;

  &:hover {
    color: $grey;

  }

  &:focus, &:active {
    outline: none;
  }
  &.btn--hover-blue {
    &:hover {
      background: $blue;
      color: $white
    }
  }
  &.btn--hover-gold {
    &:hover {
      background: $gold;
      color: $white
    }
  }
  &.btn--outline-red {
    background: transparent;
    color: $red;
    border: 1px solid $red;

    &:hover {
      background: $red;
      color: $white
    }
  }
  &.btn--outline-blue {
    background: transparent;
    color: $blue;
    border: 1px solid $blue;

    &:hover {
      background: $blue;
      color: $black
    }
  }
  &.btn--outline-gold {
    background: transparent;
    color: $gold;
    border: 1px solid $gold;

    &:hover {
      background: $gold;
      color: $white
    }
  }
  &.btn--white {
    background: $white;
    color: $darkgrey
  }

  &.btn__link{
    background: transparent;
    border: 0;
    font-family: $fontHind;
    &--blue{
      color: $black;
     &:hover{
       color: $blue
     }
    }
  }
}
