<div class="project-info" [ngClass]="{'owner': storageService.user._id === project.owner._id}">
  <h1>{{project.name}}

  </h1>
  <input type="text" [(ngModel)]="project.name" *ngIf="changeProjectMode">
  <div *ngIf="storageService.user._id === project.owner._id">
    <button (click)="changeProject()">ChangeProject</button>
    <button (click)="deleteProject()">DeleteProject</button>
  </div>
  <p>Owner: {{project.owner.nickname}}</p>
  <hr>
  <div>
    <div>
      <input type="text" placeholder="email" [(ngModel)]="newWorker">
      <button (click)="addWorker()">AddWorker</button>
    </div>
    Workers:
    <ul>
      <li *ngFor="let worker of project.workers; let i = index">{{i + 1}}) {{worker.nickname}}
        <button *ngIf="worker._id !== project.owner._id" (click)="deleteWorker(worker,i)">DeleteWorker</button>
      </li>
    </ul>

  </div>

</div>
<div class="add-project-box" [ngClass]="{'add-project-box--open':openAddBox}">
  <span (click)="openAddBox = true">+</span>
  <form [formGroup]="form" *ngIf="openAddBox">
    <div class="add-wrapper">
      <input type="text" placeholder="Name of task" formControlName="name">
      <app-datetimepicker [placeholder]="'start'" (changeEl)="changePicker('start',$event)"></app-datetimepicker>
      <app-datetimepicker [placeholder]="'end'" (changeEl)="changePicker('end',$event)"></app-datetimepicker>
      <label>
        Who work on task?
        <select formControlName="worker">
          <option *ngFor="let worker of project.workers; let i = index" [value]="i">{{worker.nickname}}</option>
        </select>
      </label>
      <div class="add-btn">
        <button (click)="openAddBox = false;form.reset()">Cancel</button>
        <button (click)="addTask()">Create task</button>
      </div>
    </div>
  </form>
</div>
<ul *ngIf="!loading" class="task-list">
  <li *ngFor="let task of project.tasks; let i = index">
    <div class="task-main">
      <div class="task-main__header">
        <div>
          <h2>{{task.name}}</h2>
          <p>Created by: {{task.owner.nickname}}</p>
          <p>Worker: {{task.worker.nickname}}</p>
        </div>
        <div>
          <button (click)="deleteTask(task,i)">Delete</button>
        </div>
      </div>
      <br>
      <div *ngIf="task.total">
        <h4>Total:  {{getTime(task.total)}}</h4>
      </div>
    </div>
    <div class="task-timer" *ngIf="task.worker._id === storageService.user._id &&(task.timerStarted || !currentTimer)">
      <div class="time">
        {{timerNow}}
      </div>
      <div class="control">
        <button *ngIf="!task.timerStarted" (click)="startTimer(task,i)">start</button>
        <button *ngIf="task.timerStarted" (click)="stopTimer(task,i)">stop</button>
      </div>
    </div>
  </li>
</ul>

