@import "~src/assets/scss/variables";

:host {
  padding-top: 16px;
  display: block;
}

.project-info {
  position: relative;
  min-height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;

}

.workers-list {

}

.project-info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 50%;
  width: 50%;
  app-drop{
    display: block;
    width: 100%;
  }
  h1 {
    line-height: 34px;
    font-size: 34px;
    margin-bottom: 0;
    overflow: hidden;
    max-width: 85%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .workers-list {
    color: white
  }
}

.project-info-control {
  display: flex;
  max-width: 50%;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  button {
    margin-left: 8px;
  }

  svg {
    width: 18px;
    height: 18px;
    fill: $gold
  }
}

.owner-control {
  display: flex;
  flex-flow: column;
  align-items: flex-end;

  div {
    margin-bottom: 8px;
    display: flex;
  }

  button {
    margin-left: 8px;
  }
}

.add-project-box.project-box {
  &.add-project-box--open {
    .add-wrapper {
      height: 280px;
      opacity: 1;
    }
  }
}

.task-list {
  margin-top: 50px;

  li {
    display: flex;
    flex-flow: column;
    padding: 8px;
    flex-flow: wrap;
    justify-content: space-between;

    .task-main {
      .task-main__header {
        display: flex;
      }
    }

    .task-timer {
    }
  }
}

.project-tasks-box {
  margin-top: 50px;
}

.add-project-box {
  display: flex;
  background: $darkgrey;
  min-height: 60px;
  position: relative;
  flex-flow: column;
  border-radius: 2px;

  h3 {
    display: flex;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding-top: 0;
    color: $white;
    transition: 300ms;
    opacity: 1;
    justify-content: center;
    letter-spacing: 2px;
    height: 100%;
    min-height: 60px;
    align-items: center;
    z-index: 3;

    &:hover {
      color: $black;
      background: $gold;
    }
  }

  &.add-project-box--open {
    h3 {
      color: $black;
      cursor: auto;
      background: $gold;
      z-index: 3;
    }

    form {
      z-index: 2;
    }

    .add-wrapper {
      height: 120px;
      opacity: 1;

    }
  }

  .add-wrapper {
    display: flex;
    opacity: 0;
    height: 0;
    transition: 300ms;
    width: 240px;
    flex-flow: column;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;

    label {
      display: flex;
      margin: 8px 0;
    }

    .add-btn {
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;
      width: 100%;

    }

    input {
      font-size: 20px;
    }

  }
}
