<div class="under-header">
  <div class="container">
    <div class="project-info">
      <div class="project-info-box">
        <h1>{{project.name}}   <input type="text" [(ngModel)]="project.name" *ngIf="changeProjectMode"></h1>
        <p>Owner: {{project.owner.nickname}}</p>

      </div>
      <div class="project-info-control">
        <app-drop *ngIf="project.owner._id === storageService.user._id">
          <div class="target">
            <button class="btn btn--outline-black btn-add-project">
              <svg-icon src="assets/img/crown.svg" [svgStyle]="{ 'width.px':'20' }"></svg-icon>
            </button>
          </div>
          <div class="content">
            <div class="owner-control some-back some-back--black">
              <div>
                <button class="btn btn--outline-blue" (click)="changeProject()">Change</button>
                <button class="btn btn--outline-red" (click)="deleteProject()">Delete</button>
              </div>
              <div>
                <input class="input input--big" type="text" placeholder="email" [(ngModel)]="newWorker">
                <button class="btn btn--outline-blue" (click)="addWorker()">AddWorker</button>
              </div>
            </div>
          </div>
        </app-drop>
        <app-drop>
          <div class="target">
            <button class="btn btn--outline-blue btn-add-project"> add Task</button>
          </div>
          <div class="content">
            <form [formGroup]="form" class=" some-back some-back--blue">
              <div class="add-wrapper">
                <input class="input input--big" type="text" placeholder="Name of task" formControlName="name">
                <app-datetimepicker [placeholder]="'start'"
                                    (changeEl)="changePicker('start',$event)"></app-datetimepicker>
                <app-datetimepicker [placeholder]="'end'" (changeEl)="changePicker('end',$event)"></app-datetimepicker>
                <label>
                  <span>Who work on task?</span>
                  <select formControlName="worker">
                    <option *ngFor="let worker of project.workers; let i = index"
                            [value]="i">{{worker.nickname}}</option>
                  </select>
                </label>
                <div class="add-btn">
                  <button class="btn " (click)="addTask()">Create task</button>
                </div>
              </div>
            </form>
          </div>
        </app-drop>
        <app-drop *ngIf="project.owner._id === storageService.user._id" [position]="'bottom right'">
          <div class="target">
            <button class="btn btn--outline-gold btn-add-project">
              Workers
            </button>
          </div>
          <div class="content">
            <div class="workers-list some-back some-back--gold">
              <ul>
                <li *ngFor="let worker of project.workers; let i = index">{{i + 1}}) {{worker.nickname}}
                  <button class="btn btn--small btn--outline-red" *ngIf="worker._id !== project.owner._id" (click)="deleteWorker(worker,i)">x
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </app-drop>
      </div>
    </div>
  </div>
</div>

<div class="project-tasks-box">
<app-loader *ngIf="loading; else content"></app-loader>
<ng-template #content>
  <ul *ngIf="project.tasks.length; else emptytasks" class="task-list">
    <li *ngFor="let task of project.tasks; let i = index" class="white-back">
      <div class="task-main">
        <div class="task-main__header">
          <div>
            <h2>{{task.name}}</h2>
            <p>Created by: {{task.owner.nickname}}</p>
            <p>Worker: {{task.worker.nickname}}</p>
          </div>
          <div>
            <button (click)="deleteTask(task,i)">Delete</button>
          </div>
        </div>
        <br>
        <div *ngIf="task.total">
          <h4>Total:  {{getTime(task.total)}}</h4>
        </div>
      </div>
      <div class="task-timer" *ngIf="task.worker._id === storageService.user._id &&(task.timerStarted || !currentTimer)">
        <div class="time">
          {{timerNow}}
        </div>
        <div class="control">
          <button *ngIf="!task.timerStarted" (click)="startTimer(task,i)">start</button>
          <button *ngIf="task.timerStarted" (click)="stopTimer(task,i)">stop</button>
        </div>
      </div>
    </li>
  </ul>
  <ng-template #emptytasks>
    <div class="projects-empty white-back">
      <h3>Create your first task!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus alias aliquam architecto assumenda atque</p>
    </div>
  </ng-template>

</ng-template>

</div>
