<div class="project-info" [ngClass]="{'owner': storageService.user._id === project.owner._id}">
  <h1>{{project.name}}</h1>
  <p>Owner: {{project.owner.nickname}}</p>
</div>
<div class="add-project-box" [ngClass]="{'add-project-box--open':openAddBox}">
  <span (click)="openAddBox = true">+</span>
  <form [formGroup]="form" *ngIf="openAddBox">
    <div class="add-wrapper" >
      <input type="text" placeholder="Name of task" formControlName="name">
      <app-datetimepicker (changeEl)="changePicker('start',$event)"></app-datetimepicker>
      <app-datetimepicker (changeEl)="changePicker('end',$event)"></app-datetimepicker>
      <div class="add-btn">
        <button (click)="openAddBox = false">Cancel</button>
        <button (click)="addTask()">Create task</button>
      </div>
    </div>
  </form>
</div>
<ul *ngIf="!loading" class="task-list">
  <li *ngFor="let task of project.tasks; let i = index">
    <div class="task-main">
      <div class="task-main__header">
        <div>
          <h2>{{task.name}}</h2>
          <p>Created by: {{task.owner.nickname}}</p>
        </div>
        <div>
          <button (click)="deleteTask(task,i)">Delete</button>
        </div>
      </div>
      <br>
      <div *ngIf="task.total">
        <h4>Total:  {{getTime(task.total)}}</h4>
      </div>
    </div>
    <div class="task-timer" *ngIf="task.timerStarted || !currentTimer">
      <div class="time">
        {{timerNow}}
      </div>
      <div class="control">
        <button *ngIf="!task.timerStarted" (click)="startTimer(task,i)">start</button>
        <button *ngIf="task.timerStarted" (click)="stopTimer(task,i)">stop</button>
      </div>
    </div>
  </li>
</ul>

