<div class="left-side">
  <div class="avatar-box white-back" (click)="changeAvatar = !changeAvatar">
    <img [src]="storageService.user.avatar" *ngIf="storageService.user.avatar && !loadedAvatar">
    <span>Change</span>
  </div>
  <div class="statistics-box white-back"  *ngIf="statisticsData">
    <h3>Statistics</h3>
    <p>Projects with me: {{statisticsData.projectsWorker}}</p>
    <p>My Projects: {{statisticsData.projectsOwner}}</p>
    <p>Tasks with me: {{statisticsData.tasksWorker}}</p>
    <p>My Tasks: {{statisticsData.tasksOwner}}</p>
  </div>
</div>
<div class="main-side">
  <div class="avatar-change white-back" [ngClass]="{'avatar-change--open':changeAvatar}">
    <app-cropper (cropped)="changeAvatarImg($event)"></app-cropper>
  </div>
  <div class="main-inputs white-back">
    <form [formGroup]="formMain" (ngSubmit)="updateMain()">
      <label>
        <span>Name:</span>
        <input type="text" class="input" formControlName="name">
      </label>
      <label>
        <span>Surname:</span>
        <input type="text" class="input" formControlName="surname">
      </label>
      <label>
        <span>Nickname:</span>
        <input type="text" class="input" formControlName="nickname">
      </label>
      <label>
        <span>Block everyone who want add me to project</span>
        <input type="checkbox" formControlName="blockEveryoneWhoWantAddMeToProject">
      </label>
      <br>
      <label>
        <span>Block everyone who want write me</span>
        <input type="checkbox" formControlName="blockEveryoneWhoWantWriteMe">
      </label>
      <br>
      <label>
        <span>Disable notifications</span>
        <input type="checkbox" formControlName="disableNotifications">
      </label>
      <button class="btn" type="submit">Save</button>
    </form>
  </div>
  <div class="main-inputs white-back">
    <form [formGroup]="formPass" (ngSubmit)="updatePass()">
      <label>
        <span>Current password:</span>
        <input type="password" class="input" formControlName="currentPass">
      </label>
      <label>
        <span>New password:</span>
        <input type="password" class="input" formControlName="newPass">
      </label>
      <label>
        <span>Repeat password:</span>
        <input type="password" class="input" formControlName="repeatNewPass">
      </label>
      <button class="btn" type="submit">Save</button>
    </form>
  </div>
  <div class="white-back">
    <h4>Black list:</h4>
    <ul *ngIf="blackList.length; else blacklistempty">
      <li *ngFor="let user of blackList;let i = index">
        {{user.nickname}}
        <button (click)="deleteBlackList(user, i)">Delete</button>
      </li>
    </ul>
    <ng-template #blacklistempty>
      <p>Yea, black list is empty! Hmm... Where Zinka Shamana?</p>
    </ng-template>
      <label>
        <span>Add:</span>
        <input type="text" class="input" placeholder="Write nickname..." [(ngModel)]="newBlackListUser">
      </label>
      <button (click)="addBlackList()">Add User</button>
    <form [formGroup]="formMain" (ngSubmit)="updateMain()">
      <button class="btn" type="submit">Save</button>
    </form>
  </div>
</div>
