:host {
  display: flex;
}

.left-side {
  min-width: 220px;
  margin-right: 20px;

  .avatar-box {
    min-height: 220px;
    max-height: 220px;
    display: flex;
    background: yellowgreen;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      transition: 300ms;
      height: 100%;
      background: rgba(0, 0, 0, 0);
      border-radius: 4px;
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: white;
      cursor: pointer;
      transition: 300ms;
      opacity: 0;
    }

    &:hover {
      span {
        opacity: 1;
      }

      &:before {
        background: rgba(0, 0, 0, 0.7);
      }
    }
  }
}

.main-side {
  width: calc(100% - 220px);

  .main-inputs {
    display: flex;
    flex-flow: column;

    label {
      display: flex;

      span {
        min-width: 25%;
        text-align: right;
        margin-right: 16px;
      }

      input {
        width: 75%;
      }
    }
  }
}

.avatar-change {
  padding: 0 16px;
  height: 0;
  overflow: hidden;
  margin: 0;

  &.avatar-change--open {
    padding: 16px;
    margin: 20px 0;
    height: auto;
  }
}
