<div class="left-side">
  <div class="avatar-box white-back" (click)="changeAvatar = !changeAvatar">
    <img [src]="storageService.user.avatar" *ngIf="storageService.user.avatar && !loadedAvatar">
    <span>Change</span>
  </div>
  <div class="statistics-box white-back">
    <p>Count of projects: ?</p>
    <p>Count of my projects: ?</p>
    <p>Count of tasks: ?</p>
    <p>Count of my tasks: ?</p>
  </div>
</div>
<div class="main-side">
  <div class="avatar-change white-back" [ngClass]="{'avatar-change--open':changeAvatar}">
    <app-cropper (cropped)="changeAvatarImg($event)"></app-cropper>
  </div>
  <div class="main-inputs white-back">
    <form [formGroup]="formMain" (ngSubmit)="updateMain()">
      <label>
        <span>Name:</span>
        <input type="text" class="input" formControlName="name">
      </label>
      <label>
        <span>Surname:</span>
        <input type="text" class="input" formControlName="surname">
      </label>
      <label>
        <span>Nickname:</span>
        <input type="text" class="input" formControlName="nickname">
      </label>
      <label>
        <span>Anyone can add me to some project</span>
        <input type="checkbox" formControlName="allCanAddMeToProject">
      </label>
      <br>
      <label>
        <span>Anyone can write me</span>
        <input type="checkbox" formControlName="allCanWriteMe">
      </label>
      <br>
      <label>
        <span>Disable notifications</span>
        <input type="checkbox" formControlName="disableNotifications">
      </label>
      <button class="btn" type="submit">Save</button>
    </form>
  </div>
  <div class="main-inputs white-back">
    <form [formGroup]="formPass" (ngSubmit)="updatePass()">
      <label>
        <span>Current password:</span>
        <input type="password" class="input" formControlName="currentPass">
      </label>
      <label>
        <span>New password:</span>
        <input type="password" class="input" formControlName="newPass">
      </label>
      <label>
        <span>Repeat password:</span>
        <input type="password" class="input" formControlName="repeatNewPass">
      </label>
      <button class="btn" type="submit">Save</button>
    </form>
  </div>
</div>
