@import "~src/assets/scss/variables";

:host {
  display: block;
  width: 75%;
  height: calc(100vh - 76px);
}

.messages-box {
  display: flex;
  height: 100%;
  flex-flow: column;
  justify-content: space-between;
}

.header {
  padding: 8px;

}

.messages {
  padding: 8px;

  ul {
    height: calc(100vh - 225px);
    overflow-y: auto;

    li {
      padding: 16px;
      display: flex;
      flex-flow: column;
      min-height: 60px;
      box-shadow: $shadow;
      border-radius: 2px;
      align-items: flex-start;
      justify-content: space-between;
      max-width: 50%;
      background: $black;
      margin: 16px;
      color: white;

      .message-text {
        width: 85%;
        padding-right: 16px;
      }

      .message-time {
        font-size: 10px;
        font-style: italic;
      }

      &.owner {
        margin-left: auto;
        background: $blue;
      }
    }
  }
}

.form {
  padding: 8px;

  height: 60px;
  display: flex;
  align-items: center;
  background: silver;
}
