<div *ngIf="currentRoom" class="messages-box">
  <div class="messages">
    <ul infiniteScroll #messagebox
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        [scrollWindow]="false"
        (scrolledUp)="loadMoreMessages()">
      <li *ngFor="let message of currentRoom.messages.reverse()"
          [class.owner]="message.owner === storageService.user._id">
        <div class="message-text">
          <p>{{message.text}}</p>
        </div>

        <div class="message-time">
          {{moment(message.createdAt).format('DD-MM-YYYY HH:mm')}}
        </div>
      </li>
    </ul>
  </div>
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="sendMessage()">
      <input type="text" formControlName="message">
      <button type="submit">Send</button>
    </form>
  </div>
</div>
